@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-hover {
        @apply transform-gpu transition-transform hover:translate-y-[-5px]
    }
    
    .btn-padding {
        @apply py-1.5 px-3 sm:py-2.5 sm:px-4
    }
    
    .btn-padding-icon {
        @apply py-1.5 pl-3 pr-2 sm:py-2.5 sm:pl-4 sm:pr-2.5
    }
    
    .gradient {
        @apply bg-gradient-to-br from-blue-600 to-blue-800 text-white
    }
    
    .skeleton {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
    }
}

/* TODO: https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
body {
    @apply text-gray-700 bg-gray-100;

    font-family: Inter, sans-serif;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    @apply font-semibold mb-3;
}

.markdown h1, .markdown h2 {
    @apply text-2xl sm:text-3xl mt-8 sm:mt-12;
}

.markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    @apply text-2xl mt-12;
}

.markdown p {
    @apply mb-5 leading-normal;
}

.markdown a {
    @apply underline;
}

.markdown ul, .markdown ol {
    @apply mb-5;
}

.markdown li {
    @apply list-disc pl-5;
}

.markdown table {
    @apply mb-5 border border-gray-500;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
